body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    color: #fff;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
#tout{
    text-align: center;
    font-size: large;
}
.res{
    display: flex;
}
.res1{
    display: flex;
    justify-content: space-around;
}
.res1 label{
    display: flex;
    justify-content: space-around;
    color: rebeccapurple;
    width: 35%;
    padding: 0 10px;
}
#moy_math, #moy_prog, #moy_sys, #moy_web, #moy_lang, #moy_py {
    background-color: #333;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    flex: 1 1 300px;
}

input[type="number"] {
    width: 98%;
    padding: 10px;
    margin: 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

input[type="number"]:focus {
    outline: none;
}

label {
    color: #00f;
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    background-color: #00f;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px auto; 
    display: block; 
}


button:hover {
    background-color: #00008B;
}
