body {
    margin: 0;
    padding: 0;
}
nav span{
    font-family: "Jacquard 24", system-ui;
    font-size: 2.5em;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Login{
    display: flex;
    align-items: center;
    gap: 15px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}

.searchbtn {
    background-color: transparent;
    border: none;
}

.Login input[type="text"]{
    background-color: transparent;
    height: 20px;
    border: none;
    width: 300px;
    color: gray;
    outline: none;
}
.Login input[type="text"]:focus{
    background-color: transparent;
    border: none;
    height: 20px;
    width: 300px;
    color: gray;
    outline: none;
}


nav {
    display: flex;
    justify-content: space-around; 
    background-color: #232323;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav label a{
    background-color: #ddd;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav label a:hover {
    background-color: transparent;
    color: #ddd;
    border: #ddd 0.5px solid;
}

nav ul li {
    margin-right: 20px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: large;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 5%;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    border-radius: 5%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border-radius: 5%;
    background-color: #ddd;
}

@media screen and (max-width: 768px) {
    .dropdown-content {
        position: static;
        display: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    nav label {
        display: none;
    }
    .discount {
        left: 80%; 
        transform: translateX(-60%); 
    }

    .discount img {
        max-width: 100%; 
    }

    .discount span {
        font-size: 4vw; 
    }
}
.backsection{
    position: relative;
    top: 0;
    width: 100%;
    z-index: -1;
}
.discount {
    position: absolute;
    right: 10%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount img {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
}

.discount span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vw; 
    color: white;
    display: block;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
}
.about-us{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.about p{
    width: 800px;
    text-align: justify;
}

.about h2{
    text-align: center;
}
.AB{
    font-family: "Jacquard 24", system-ui;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12em;
    margin-right: 5px;
    
}

.about-logo{
    border: #232323 2px solid;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-family: "Jacquard 24", system-ui;
    font-size: 7em;
    color: black;
    display: block;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
}
.suits{
    font-family: "Jacquard 24", system-ui;
    color: black;
}
