body {
    margin: 0;
    padding: 0;
}
nav span {
    font-family: "Jacquard 24", system-ui;
    font-size: 2.5em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav span a{
    color: #fff;
    text-decoration: none;
}


.Login{
    display: flex;
    align-items: center;
    gap: 15px;
}

.Login input[type="text"]{
    background-color: transparent;
    height: 20px;
    border: none;
    width: 300px;
    color: gray;
    outline: none;
}
.Login input[type="text"]:focus{
    background-color: transparent;
    border: none;
    height: 20px;
    width: 300px;
    color: gray;
    outline: none;
}


nav {
    display: flex;
    justify-content: space-around; 
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav label a{
    background-color: #ddd;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav label a:hover {
    background-color: transparent;
    color: #ddd;
    border: #ddd 0.5px solid;
}

nav ul li {
    margin-right: 20px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: large;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 5%;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    border-radius: 5%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border-radius: 5%;
    background-color: #ddd;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#boutique {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.produit {
    text-align: center;
    width: calc(33.33% - 20px);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    min-width: 200px;
}

.produit figure {
    margin: 0;
}

.produit img {
    width: 50%;
    min-height: 220px;
}

.produit h4 {
    margin: 10px;
    font-size: 18px;
    color: #333;
}

.produit .description {
    padding: 10px;
    font-size: 14px;
    color: #666;
}

.produit .prix {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

.controle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.controle input[type="number"] {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.commander,
.retirer {
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.commander {
    background-image: url('images/panier.jpg');
    background-color: #333; 
}

.retirer {
    background-image: url('images/poubelle.jpg');
    background-color: #333; 
}

.commander:hover,
.retirer:hover {
    background-color: #555;
}

#panier {
    width: calc(80% - 20px);
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#filter {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#total {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

.achats {
    max-height: 50%;
    overflow-y: auto;
}

.achat {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.achat img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.achat h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.achat .prix,
.achat .quantite {
    font-size: 14px;
    color: #666;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #boutique,
    #panier {
        width: 100%;
        margin-bottom: 20px;
    }

    .produit {
        width: calc(50% - 20px);
    }

    .controle input[type="number"] {
        width: 100px;
    }
}
